.container{
    display: flex;
    background-color: rgb(231, 228, 223);
    justify-content: space-between;
   
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    border-radius: 0px 0px  6px 6px;
}

.sendSelected{
    display: flex;
    justify-content: space-between !important;
    margin: 0 auto !important;
    font-weight: 900;
    background-attachment: fixed;
    border-radius: 6px 6px 0px 0px !important;

}

