.ul{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: aliceblue;
    text-align: center;
    margin-left: 10px;
    padding: 8px;

    border-radius: 10px;
  

}

.li{
    display: block;
    list-style: none;
    padding: 8px;
    background-color: rgb(53, 155, 53);
    margin-bottom: 5px;
    color: black;
    margin-right:20px;
    
   
    
}