.button{
    display: flex;
    justify-content: end;
    text-align: end;
    margin-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(43, 246, 53);
    pad: -moz-element();
    padding:0.2em 1em;
    border-radius: 3px;
    color: white;
    cursor: pointer;
 
 
}

.cursor:hover{    
    background-color: rgb(145, 206, 128);

}

