  /* TabelaHospitalDoenca.css */

  table {
    width: 100%; /* Largura da tabela definida como 800px */
    border-collapse: collapse;

  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    text-wrap:wrap;
    width: 100px !important; /* Largura automática das colunas */
  }
  .container-table {
    max-width: 2800px; 
    overflow-x: auto; /* Adicione uma barra de rolagem horizontal se necessário */
  
    overflow-y:auto;
    max-height: 900px;
    margin-bottom: 100px;
  }


    th.sticky_header {
      position: sticky;
      width: 200px !important;
      min-width: 200px !important;
      top: 0;
      background-color: #f2f2f2;
      z-index: 1; /* Garante que o cabeçalho esteja acima do conteúdo da tabela */
    }
    
    th.hoverable:hover,
    td.hoverable:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }
    
    td.sticky_cell {
      position: sticky;
      left: 0;
      background-color: #f2f2f2;
    }
    
    input[type="checkbox"] {
      margin-right: 5px;
    }
    
    
  
    button {
      margin: 10px 0;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      
    }
    
    button:hover {
      background-color: #0056b3;
    }
    tr:nth-child(even) { 
      background-color: #f2f2f2;
    }

  .btn-botoes{
      display: flex;
      border: 1px solid #dddddd;
      justify-content: space-between;
      padding: 0 10px;
      margin: 0%;
  }

  tr:first-child {
  
    background-color: #c4fac4;
    z-index: 1;
  }

  td:nth-child(2) {
    
    background-color: #c4fac4;
    z-index: 1;
  }
  th:nth-child(2) {
    
    background-color: #c4fac4;
    z-index: 1;
  }
.total{
  background-color: #c4fac4 !important;
}