.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#mySelect{
  width: 400px;
}

.buscadaor_header_search{
  display: flex;
  justify-content: space-between;
}
.itens_esquerdo_buscador, .itens_direito_buscador{
  background-color: rgb(17, 255, 0);
 
  
}
.container_esquerdo_buscador, .container_direito_buscador{
  width:60vh;
}
li{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 5px;
  margin:2px;
  border-radius: 6px;
  cursor: pointer;
  
}
.container_buscador{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aliceblue;
}

.selecionado{
  background-color: rgb(57, 197, 75) !important;
}

.registrado{
  background-color: rgb(82, 150, 91) !important;

}

.buscador_p{
  display: flex;
  justify-content: center;
  color: rgb(90, 85, 85);
  font-size: larger;
  font-weight: 700;
}

.btn_home{
  display: flex;
  justify-content: center;
  background-color:rgb(82, 150, 91) ;
  color: white;
  border-radius: 6px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: larger;
  font-weight: 700;

}
abbr{
  cursor: pointer;
  text-decoration: none;
}
.div_btn_home{
  display: flex;
  justify-content: end;
}
.div_h1_home{
  display: flex;
  justify-content: center;
  color: rgb(90, 85, 85);
}

.exportar_excel{
  display: flex;
  justify-content: center;
  background-color:rgb(82, 150, 91) ;
  color: white;
  border-radius: 6px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: larger;
  font-weight: 700;

}

.div_exportar_excel{
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.estudosH1{
  display: flex;
  justify-content: center;
  color: rgb(145, 134, 134);
  margin: 0%;
  padding: 0%;
}
.filtros{
  display: flex;

  color: rgb(145, 134, 134);
  font-size: larger;
  font-weight: 700;
  margin-left: 1px;
}

#dataInicial{
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
#dataFinal{
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}


.hoverable{
  cursor: pointer;
 
}

/* Estilo para a célula focada */
tr.focused td {
  background-color: #f0f0f0;
}


.configs_api{
  display: flex;
  justify-content: center;
  color: rgb(145, 134, 134);
  font-size: larger;
  font-weight: 700;
  margin-left: 1px;
}

tr:first-child {
  position: sticky;
 
}

td:first-child {
  position: sticky;
  left: 0;
  background-color:  #f0f0f0;
  z-index: 1;
}





.dropdown_selection_table{
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
  margin-left: 10px;
  margin-bottom: 10px;
  min-width: 400px;
  font: optional;
  font-size: small;


}

.btn_update{
  max-width: 420px;
}